# Исследование надежности заемщиков

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [1]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [2]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [5]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [6]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [7]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [8]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [9]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [10]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [11]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [12]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [13]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру.**

In [14]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [15]:
data.duplicated().sum()

71

In [16]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [17]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [18]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [19]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [20]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [21]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)
data.reset_index()

,index,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,total_income_category,purpose_category
0,0,1,8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875,покупка жилья,B,операции с недвижимостью
1,1,1,4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080,приобретение автомобиля,C,операции с автомобилем
2,2,0,5623.422610,33,среднее,1,женат / замужем,0,M,сотрудник,0,145885,покупка жилья,C,операции с недвижимостью
3,3,3,4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628,дополнительное образование,B,получение образования
4,4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616,сыграть свадьбу,C,проведение свадьбы
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21326,21520,1,4529.316663,43,среднее,1,гражданский брак,1,F,компаньон,0,224791,операции с жильем,B,операции с недвижимостью
21327,21521,0,343937.404131,67,среднее,1,женат / замужем,0,F,пенсионер,0,155999,сделка с автомобилем,C,операции с автомобилем
21328,21522,1,2113.346888,38,среднее,1,гражданский брак,1,M,сотрудник,1,89672,недвижимость,C,операции с недвижимостью
21329,21523,3,3112.481705,38,среднее,1,женат / замужем,0,M,сотрудник,1,244093,на покупку своего автомобиля,B,операции с автомобилем
21330,21524,2,1984.507589,40,среднее,1,женат / замужем,0,F,сотрудник,0,82047,на покупку автомобиля,C,операции с автомобилем

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [22]:
data_pivot = data.pivot_table(index='children', values='debt', aggfunc=['sum', 'count']).reset_index()
data_pivot['ratio'] = data_pivot['sum']/data_pivot['count']
data_pivot.sort_values(by='ratio', ascending=False)

  children   sum  count     ratio
            debt   debt
4        4     4     41  0.097561
2        2   194   2052  0.094542
1        1   444   4808  0.092346
3        3    27    330  0.081818
0        0  1063  14091  0.075438
5        5     0      9  0.000000

**Вывод:** В столбце ['count'] выведено количество клиентов, у которых нет детей. В столбце ['sum'] - количество клиентов, у которых есть задолженность. Колонка ['ratio'] - отношение у клиентов с задолженностью к общему количеству клиентов. Отсюда можно сделать следующие выводы:
1. Количество клиентов без детей почти вдвое больше клиентов с детьми вместе взятые.

In [24]:
print(data_pivot.loc[0, 'count']/data_pivot.loc[1:, 'count'].sum())

debt    1.946271
dtype: float64

2. Если анализировать отдельно клиентов без детей и с детьми, то можно сделать вывод о наличии зависимости между количеством детей и возвратом кредита в срок, а именно, что у клиентов без детей меньше задолженностей в истории.
3. Однако у клиентов, у которых трое детей, отношение задолженностей близко к отношению задолженностей клиентов, у которых нет детей.
4. В моей понимании здесь можно объединить клиентов с детьми, у которых один ребенок или два. Во-первых, чтобы количество детей(1 или 2) было близко по значению к количеству клиентов без детей, так статистика выглядит надежнее. Во-вторых, по статистике Росстат'а(2021 год) общий суммарный коэффициент рождаемости составляет 1,504 ребенка на семью с детьми.

In [25]:
format(data_pivot.loc[1:2, 'ratio'].mean(),'.6f')

'0.093444'

# 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [26]:
data_pivot1 = data.pivot_table(index='family_status', values='debt', aggfunc=['sum', 'count']).reset_index()
data_pivot1['ratio'] = data_pivot1['sum']/data_pivot1['count']
data_pivot1.sort_values(by='ratio', ascending=False)

           family_status  sum  count     ratio
                         debt   debt
0  Не женат / не замужем  273   2796  0.097639
3       гражданский брак  385   4134  0.093130
4        женат / замужем  927  12261  0.075606
1              в разводе   84   1189  0.070648
2         вдовец / вдова   63    951  0.066246

**Вывод:** (Тут больше вопрос к самим данным. Учитывать ли 'гражданский брак' как официальный брак или как брак без регистрации в ЗАГС'е. Если учитывать как зарегистрированный брак, то стоило бы объединить с категорией 'женат/замужем'. В своём выводе буду учитывать как незарегистрированный брак)

Наилучший показатель у 'вдовец/вдова'. 

Наихудший показатель у клиентов, которые не состоят или не состояли в браке. Сюда же можно отнести клиентов с гражданским браком. Можно предположить, что отсутствие юридической силы в гражданском браке является одной из причин таких результатов. 

Больше всего потребителей банка со статусом 'женат/замужем' также они имеют среднее значение.

В целом можно подтвердить зависимость между семейным положением и возвратом кредита в срок. (Не знаю как здесь оформлять текст :(

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [27]:
data_pivot2 = data.pivot_table(index='total_income_category', values='debt', aggfunc=['sum', 'count']).reset_index()
data_pivot2['ratio'] = data_pivot2['sum']/data_pivot2['count']
data_pivot2

  total_income_category   sum  count     ratio
                         debt   debt
0                     A     2     25  0.080000
1                     B   354   5014  0.070602
2                     C  1353  15921  0.084982
3                     D    21    349  0.060172
4                     E     2     22  0.090909

**Вывод:** 
Большая разница в выборке. Если оценивать категорию 'B' и 'C' как категории с наибольшим количество клиентов, то можно сделать вывод, что 'B' "безопаснее" для банка. 

Однако прямой зависимости между уровнем дохода и возвратом кредита в срок не наблюдается.

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

In [28]:
data_pivot3 = data.pivot_table(index='purpose_category', values='debt', aggfunc=['sum', 'count']).reset_index()
data_pivot3['ratio'] = data_pivot3['sum']/data_pivot3['count']
data_pivot3

           purpose_category  sum  count     ratio
                            debt   debt
0    операции с автомобилем  400   4279  0.093480
1  операции с недвижимостью  780  10751  0.072551
2     получение образования  369   3988  0.092528
3        проведение свадьбы  183   2313  0.079118

**Вывод:** Наибольшее количество заявок приходится на операции с недвижимостью, они же являются "лидером" по показателю отсутствия задолженности среди остальных категорией, с достаточным отрывом от операций по покупке автомобиля и получение образования.  
Операции с автомобилем и получение образования показывают неудовлетворительный результат по отношению к спросу на недвижимость.

Общий вывод - для банка наиболее "безопасным" будут являться операции с недвижимостью.

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ:* 
Три основные причины пропусков:
1. Человеческий фактор. Все мы люди, все мы ошибаемся.
2. Ошибки системы или некорректная работа кода.
3. При выгрузки данных также может случиться ошибка, что приведет к неправильным или неполным данным.

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:* 
В данных встречается информация, которая сильно выделяется среди большинства. В таком случае среднее арифмитеческое не сможет "показать" всю объективность данных. Когда в выборке присутствуют выдающиеся значения (300 против 100), лучше использовать медиану.

### Шаг 4: общий вывод.

Напишите ваш общий вывод.

# Вывод: 
Проект, а именно данные из этого проекта дают понять, что предобработка данных - один из важнейших этапов в работе с данными. Пропуски, дубликаты, некорректные данные то что мешает в предоставлении объективной информации. Также с помощью категоризации данных, конверсии, добавления новых столбцов и т. д. можно получить новую полезную информацию, которая поможет дать ответ на поставленные задачи.

Описывая данные можно выделить основные недочеты:

- пропуски;

- дубликаты;

- “аномальные” значения.

Для начала стоит рассмотреть всю таблицу с помощью метода info(). После получения первичной информации мы начали устранять пропуски, однако стоит учесть, что далеко не все пропуски мы можем заполнить произвольной информацией. В данном случае мы применяли цикл для заполнения пропущенных значений методом isna() медианным значением по категории(median()).

В датасете мы встретили не соответствующие действительности значения, такие как: количество детей = -1 или 20(хотя последнее может быть). Здесь в переменной data мы просто исключили строки где содержатся такие значения(мне очень понравился такой способ).

Для обработки дубликатов применялся метод drop_duplicates() и duplicated(). Также были применены такие методы как: str.lower() и astype().

Далее мы категоризировали данные с помощью циклов и функций. Из имеющийся информации мы получили новые значения, которые помогали ответить на поставленные задачи.

Был применен метод pivot_table() для создания сводной таблицы.

Для банка наиболее “безопасными” являются: 

- клиенты с активным семейным положением или те, которые были до этого в браке; 

- клиенты, которые приобретают недвижимость;

- семьи без детей, так как на них приходится меньше финансовой нагрузки. 

Важным замечанием является уровень дохода. Из данного кейса мы узнали, что уровень дохода никак не влияет на степень надежности потребителя.

Для того, чтобы дополнить данные банку нужно учесть важную информацию о клиентах, а именно - кредитную нагрузку или дополнительные расходы заявителей.